.image{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.animeClass{
    position: relative;
}
@media screen and (max-width:500px) {
    .image {
        display: block;
    }
    
}
.generation-image , .memberPhoto{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    margin: 10px 50px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 6px 14px 3px #000000;
}
.center{
    display: flex;
    justify-content: center;
    color: #ffffff;

}

.menu{
    position:absolute;
    display: none;
    background-color: #ffffff;
}
.active{
    position: absolute;
    display: block;
    z-index: 999;
}
.menu-image{
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
    position: absolute;
}
